# Specify filepatterns you want git to ignore.


#all virtual environment
venv/*
coding_too/site.db
coding_too/__pycache__/*
coding_too/errors/__pycache__/*
coding_too/guideline/__pycache__/*
coding_too/main/__pycache__/*
coding_too/metadata/__pycache__/*
