{% extends "layout.html" %}
{% block content %}
    <h2>Venues</h2>
    <p>This is the distribution of coding experiments in venues<p>
    <div class="row">
        <div class="chart" id="piegraph">
            <script>
                var graphs = {{plot | safe}};
                var layout = {
                  height: 400,
                  width: 500
                };
                Plotly.newPlot('piegraph',graphs,layout);
            </script>
        </div>
    </div>
{% endblock content %}
