{% extends "layout.html" %}
{% block content %}
    <table data-toggle="table" data-sort-stable="true" data-sort-name="quantity"
  data-sort-order="desc">
      <thead>
        <tr>
          <th data-field="name" data-sortable="true">Institution's Name</th>
          <th data-field="quantity" data-sortable="true">Quantity of Papers</th>
        </tr>
      </thead>
      <tbody>
        {% for institution in most_common_institutions %}
          <tr>
            <td> {{ institution[0] }} </td>
            <td> {{ institution[1] }} </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock content %}
